.header {
  z-index: 100;
  background-color: transparent;
  position: absolute;
  top: 3rem;
  color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  font-family: "Roboto Mono", monospace;
}
.pages {
  height: 100%;
  width: 60%;
  padding: 0 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 2;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
@media screen and (min-width: 1024px) and (max-width: 1300px){
  .pages {
    padding: 0 1rem;
  }
}
.empty {
  width: 30%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  position: relative;
  left: 1.5rem;
  z-index: 100;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60%;
  padding: 0 4rem;
}
.hamburger {
  display: none;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    top: 0;
  }
  .pages {
    padding: 0 1rem;
  }
  .logo {
    padding: 0 3rem;
  }
  .empty {
    display: none;
  }
  .nav_num {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    padding: 0 2rem;
  }
  .pages {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .logo {
    height: 40%;
    padding: 0;
  }
}
