.container {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  color: #eee;
  font-size: 1.23rem;
}
