body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
#navbar {
  margin: 2rem 2.5rem;
  height: 5rem;
}
#header__line {
  background-color: rgb(255, 255, 255, 0.1);
  width: 30rem;
  height: 1px;
  margin-right: -6rem;
}
#pages {
  height: 5rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: -2.5rem;
}
#list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  width: 60%;
  height: inherit;
  background-color: rgb(255, 255, 255, 0.1);
}
.link a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #d0d6f9;
  font-size: 1rem;
  position: relative;
  letter-spacing: 0.09rem;
}
.link a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.9rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d0d6f9;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.link a:hover::after {
  opacity: 1;
}
/* styling the intro section */
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20rem;
  

}
.intro__text {
  width: 40%;
  margin-left: -10rem;
}
.intro__text h1 {
  letter-spacing: 0.2rem;
  color: #d0d6f9;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;

}
.intro__text h1 span {
  color: #ffff;
  font-size: 8.5rem;
  font-family: 'Tajawal', sans-serif;
  font-weight: 100;
}
#explore__circle {
  width: 40%;
}
#intro__para {
  width: 73%;
  color: #d0d6f9;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  line-height: 2;
}
#explore__circle {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}
#explore__circle span {
  text-transform: uppercase;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
}